<!DOCTYPE html>


<head>
<meta charset="UTF-8">
<title>Bitcoin Miners</title>
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap-social.css">
<link rel="stylesheet" href="/css/font-awesome.css">

<script src="/js/jquery.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
 



<script src="/js/d3.v2.min.js"></script>
<!-- <script src="/js/d3.dependencyWheel.js"></script> -->


</head>

<body>

	<!-- <div id="visualization"></div> -->
	<div id="statistics"></div>
	<div id="collaborativeGraph"></div>
	<button id="button_ok" onclick=recallCollaborativeGraph()>OK</button>

	<p>
		<label for="timeStampBlock">Time Stamp Blocco:</label> <input type="text"
			id="timeStampBlock" readonly
			style="border: 0; color: #f6931f; font-weight: bold;" size="50">
	</p>

	<div id="slider-timeStampBlock"></div>

	<p>
		<label for="miningCountAddress">Mining Count dell'Address:</label> <input type="text"
			id="miningCountAddress" readonly
			style="border: 0; color: #f6931f; font-weight: bold;" size="50">
	</p>

	<div id="slider-miningCountAddress"></div>


	<p>
		<label for="minersCountInBlock">Miner nel blocco:</label> <input type="text"
			id="minersCountInBlock" readonly
			style="border: 0; color: #f6931f; font-weight: bold;" size="50">
	</p>

	<div id="slider-minersCountInBlock"></div>
	
	<p>
		<label for="minerCollaborations"># di collaborazioni tra miner:</label> <input type="text"
			id="minerCollaborations" readonly
			style="border: 0; color: #f6931f; font-weight: bold;" size="50">
	</p>

	<div id="slider-minerCollaborations"></div>
	


	<script type="text/javascript" src="/js/graph/graphD3.js"></script>
	<script type="text/javascript" src="/js/graph/graphLogic.js"></script>
	<script type="text/javascript" src="/js/graph/filters.js"></script>


 







	<!-- 	<div id='chord'></div>
	<script src="/js/chord.js"></script> -->




</body>
