<!DOCTYPE html>


<head>
<meta charset="UTF-8">
<title>Bitcoin Miners</title>
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/font-awesome.css">

<script src="/js/jquery.min.js"></script>

<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">-->
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/jquery-ui.js"></script>
<link rel="stylesheet" href="/css/jquery-ui.css"></script>
 



<script src="/js/d3.v2.min.js"></script>
<!-- <script src="/js/d3.dependencyWheel.js"></script> -->


</head>

<body>

	<!-- <div id="visualization"></div> -->
	<div id="graphs">
		<p id="loading1" style='display:none'>Loading....</p>
		<div id="statistics-graph1"></div>
		<p> Graph1: Collaborative Graph </p>
		<p> 
			Modifica la force del grafo 
			<input id="inputForce" type="number" value="-100000" step="100"> 
			Modifica la distanza massima tra i link del grafo 
			<input id="inputLinkDistance" type="number" value="50" step="5"> 
			<button onclick=setForceAndLinkDistance()>SetValues</button>
		</p>
		<div id="collaborativeGraph"></div>

		<p> Graph2: Collaborative Graph With Blocks</p>
		<p id="loading2" style='display:none'>Loading....</p>
		<div id="statistics-graph2"></div>
		<div id="collaborativeGraphWithBlocks"></div>
	</div>

	<div id="filters">
		<button class="btn btn-info btn-large" onclick=changeCollaborativeGraph()>Change Graph1</button>
		<button class="btn btn-info btn-large" onclick=changeCollaborativeWithBlocksGraph()>Change Graph2</button>
		<br>
		<br>
		<p>
			<label for="timeStampBlock">Time Stamp Blocco:</label> <input type="text"
				id="timeStampBlock" readonly
				style="border: 0; color: #f6931f; font-weight: bold;" size="50">
		</p>

		<div id="slider-timeStampBlock"></div>

		<p>
			<label for="miningCountAddress">Mining Count dell'Address:</label> <input type="text"
				id="miningCountAddress" readonly
				style="border: 0; color: #f6931f; font-weight: bold;" size="50">
		</p>

		<div id="slider-miningCountAddress"></div>


		<p>
			<label for="minersCountInBlock">Miner nel blocco:</label> <input type="text"
				id="minersCountInBlock" readonly
				style="border: 0; color: #f6931f; font-weight: bold;" size="50">
		</p>

		<div id="slider-minersCountInBlock"></div>
		
		<p>
			<label for="minerCollaborations"># di collaborazioni tra miner:</label> <input type="text"
				id="minerCollaborations" readonly
				style="border: 0; color: #f6931f; font-weight: bold;" size="50">
		</p>

		<div id="slider-minerCollaborations"></div>
		<br>	
		<label for="meeting">Blocks Date : </label>
		<br>
		<input id="blocksDate" type="date" value="2012-01-13" min="2009-01-09" max="2014-01-20"/>
		<p>
		<label for="dateTimeBlocks">Fascia oraria:</label> 
		<input type="text"  id="dateTimeBlocks" readonly
			style="border: 0; color: #f6931f; font-weight: bold;" size="50">
		</p>
		<div id="slider-dateTimeBlocks"></div>
		<br>
	</div>


	<script type="text/javascript" src="/js/graph/graphD3.js"></script>
	<!-- <script type="text/javascript" src="/js/graph/graphD3WithMoreNodes.js"></script> -->
	<script type="text/javascript" src="/js/graph/graphLogic.js"></script>
	<script type="text/javascript" src="/js/graph/filters.js"></script>


 







	<!-- 	<div id='chord'></div>
	<script src="/js/chord.js"></script> -->




</body>
